.btn-white{
    background-color: white;
}

.btn-prymary{
    background-color: $brand-primary-color;
}

.ms_btn-style {
    border: 1px solid #f5e9f3 ;
    border-radius: 10px;
    padding: .4rem 1rem;
}

.btn-tx{
    font-size:.8rem;
}