
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

$brand-primary-color:#5b2ba2;
$color-text-:#8c8693;
$color-text:#ffff;

$background-primary-color:#f8f0f2;
$background-New-Yourk-color:#f0fafb;
$background-London-color:#fbf3e4;
$background-secondary-color:#f8f0f2;
$background-header-color:#f5e9f3;
